.env
nginx/cert/*.cer
nginx/cert/*.crt
nginx/cert/*.pem
nginx/cert/*.key
pg_data/*
wg_vpn/*
chatgpt-telegram-bot/usage_logs/*
squid/squid.csr
squid/squid.der
squid/squid.key
squid/squid.pem
jupyter/workdir/*
trilium-data/*
terminal/volume
