map $ssl_preread_server_name $sni_name {
    hostnames;
    ${DOMAIN}       www;
    *.${DOMAIN}     www;
    default         xray;
}

upstream xray {
    server vless_vpn:7443;
}

upstream www {
    server 127.0.0.1:8443;
}

server {
    listen          443;
    proxy_pass      $sni_name;
    ssl_preread     on;
}
